openapi: 3.0.0
info:
  contact:
    name: Developer Support
    url: https://developer.cisco.com/docs/px-cloud/#!developer-support
  description: PX Cloud for Success Tracks API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: PX Cloud for Success Tracks API
  version: 0.9.11
servers:
- description: PX Cloud API Server
  url: "https://api-cx.cisco.com/{basePath}"
  variables:
    basePath:
      default: sandbox/px
      enum:
      - sandbox/px
      - px
security:
- oAuth2: []
tags:
- name: Compliance
- name: Crash Risk
- name: Customer Data
- name: CX Meta Data
- name: Faults
- name: Insights
- name: Partner Data
paths:
  /v1/contract/details:
    get:
      operationId: getContractDetails
      parameters:
      - explode: true
        in: query
        name: contractNumber
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: "Deprecated, use `contractLineItemType`."
        explode: true
        in: query
        name: componentType
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: contractLineItemType
        required: false
        schema:
          enum:
          - PARENT
          - CHILD
          - STANDALONE
          type: string
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailsResponse'
          description: OK
          headers:
            Link:
              description: URLs for previous (`rel="prev"`) and/or next (`rel="next"`)
                page of items
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Get customer contract details
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/contract/licenses:
    get:
      operationId: getContractLicenses
      parameters:
      - explode: true
        in: query
        name: max
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: contractNumber
        explode: true
        in: query
        name: contractNumber
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensesPaginationResponse'
          description: Successfully Fetched Contract Details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error during fetch
      summary: List of Licenses for the selected Contract
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/contracts:
    get:
      operationId: getContracts
      parameters:
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: OK
          headers:
            Link:
              description: URLs for previous (`rel="prev"`) and/or next (`rel="next"`)
                page of items
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List customer contracts
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/contractsWithCustomers:
    get:
      operationId: getContractsWithCustomers
      parameters:
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: customerGUName
        explode: true
        in: query
        name: customerGUName
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsV2Response'
          description: OK
          headers:
            Link:
              description: URLs for previous (`rel="prev"`) and/or next (`rel="next"`)
                page of items
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List contracts with customer details
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/customers:
    get:
      operationId: getCustomers
      parameters:
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
          description: OK
          headers:
            Link:
              description: URLs for previous (`rel="prev"`) and/or next (`rel="next"`)
                page of items
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List customers
      tags:
      - Customer Data
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/assetViolations:
    get:
      deprecated: false
      description: Returns information about the rules violated by an asset based
        on the customer and asset information provided. Default is ruleSeverityId(desc)
      operationId: getAssetViolations
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sourceSystemId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: assetId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetViolationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List the violations of the asset
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/assetsWithViolations:
    get:
      deprecated: false
      description: "Returns information about assets that have at least one rule violation\
        \ based on the customerId provided. Default is severityId(desc), violationCount(desc)"
      operationId: getAssetsWithViolations
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsWithViolationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fetch the asset summary
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/optIn:
    get:
      deprecated: false
      description: Returns information about whether the customer has successfully
        configured the regulatory compliance feature and has assets that are qualified
        to be checked.
      operationId: getOptIn
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optInResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fetch optIn status
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/policyRuleDetails:
    get:
      deprecated: false
      description: Returns information about the policy the rule belongs to.
      operationId: getPolicyRuleDetails
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: policyCategory
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: policyGroupId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: policyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ruleId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: severity
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyRuleDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fetch information about the policy the rule belongs to
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/suggestions:
    get:
      deprecated: false
      description: "Returns information about the violated rule conditions, including\
        \ suggested remediation steps, based on the customer, policy, and rule information\
        \ provided. Default sorting is severityId(desc)"
      operationId: getSuggestions
      parameters:
      - explode: true
        in: query
        name: policyCategory
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: policyGroupId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: policyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ruleId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestionsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: "Get the Suggestions filtered upon Severity (if given), for summary\
        \ tab"
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/violations:
    get:
      deprecated: false
      description: "Returns information about the rules violated for the customerId\
        \ provided Default sorting is, severityId(asc), violationCount(desc)"
      operationId: getViolations
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViolationSummaryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fetch the violation summary of a customer
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/compliance/violations/assets:
    get:
      deprecated: false
      description: "Returns information about the customer assets in violation of\
        \ the rule based on the customer, policy, and rule information provided. Default\
        \ sorting is, assetName(asc)"
      operationId: getViolationsAssets
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: policyCategory
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: policyGroupId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: policyId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ruleId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: severity
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsViolationsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: "Fetch the violation details of impacted assets for the customer, and\
        \ selected policy Group, Policy and Rule"
      tags:
      - Compliance
      x-accepts: application/json
  /v1/customers/{customerId}/insights/crashRisk/asset/{assetUniqueId}/crashHistory:
    get:
      operationId: getCrashAssetCrashHistory
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: assetId encoded as a Base64 string. This parameter is available
          as a response parameter of the /crashRisk/assets API
        explode: false
        in: path
        name: assetUniqueId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCrashDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List asset crash history incidents
      tags:
      - Crash Risk
      x-accepts: application/json
  /v1/customers/{customerId}/insights/crashRisk/assets:
    get:
      description: "List devices that have a probability of crash, including risk\
        \ score rating (`High`, `Medium`, `Low`)."
      operationId: getCrashRiskAssets
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrashRiskDevices'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List assets at risk of crashing
      tags:
      - Crash Risk
      x-accepts: application/json
  /v1/customers/{customerId}/insights/crashRisk/assets/{assetUniqueId}/riskFactors:
    get:
      description: List factors that contribute to an asset's crash risk score.
      operationId: getCrashRiskAssetRiskFactors
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: assetId encoded as a Base64 string. This parameter is available
          as a response parameter of the /crashRisk/assets API
        explode: false
        in: path
        name: assetUniqueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRiskFactorsResponse'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List crash risk asset risk factors
      tags:
      - Crash Risk
      x-accepts: application/json
  /v1/customers/{customerId}/insights/crashRisk/assets/{assetUniqueId}/similarAssets:
    get:
      description: "List other devices in the network that are similar to a device\
        \ in terms of features , product family, and hardware."
      operationId: getCrashRiskAssetSimilarAssets
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: assetId encoded as a Base64 string. This parameter is available
          as a response parameter of the /crashRisk/assets API
        explode: false
        in: path
        name: assetUniqueId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Criteria used to determine whether an asset is similar to the
          specified asset.
        explode: true
        in: query
        name: similarityCriteria
        required: true
        schema:
          enum:
          - features
          - fingerprint
          - software_features
          type: string
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarDevices'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List crash risk asset similar assets
      tags:
      - Crash Risk
      x-accepts: application/json
  /v1/customers/{customerId}/insights/crashRisk/assetsCrashed:
    get:
      operationId: listCrashRiskAssetsCrashed
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Filter results by X number of days in the past - valid range
          1-99.
        explode: true
        in: query
        name: timePeriod
        required: false
        schema:
          maximum: 99
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCrashDetails'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List assets which have crashed
      tags:
      - Crash Risk
      x-accepts: application/json
  /v1/customers/{customerId}/insights/faults:
    get:
      deprecated: false
      description: Returns fault information for the customerId provided.
      operationId: getFaults
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of days to retrieve fault data for. This value can\
          \ be 1, 7, 15, 30. The default is 1."
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 1
          format: int32
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaultsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Faults details
      tags:
      - Faults
      x-accepts: application/json
  /v1/customers/{customerId}/insights/faults/{faultId}/affectedAssets:
    get:
      deprecated: false
      description: "Returns information about the customer assets affected by the\
        \ fault, based on the fault signatureId and customerId provided"
      operationId: getFaultAffectedAssets
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier used in CX Cloud to identify the fault
        explode: false
        in: path
        name: faultId
        required: true
        schema:
          type: integer
        style: simple
      - description: "The number of days to retrieve fault data for. This value can\
          \ be 1, 7, 15, 30. The default is 1."
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 1
          format: int32
          maximum: 30
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffectedAssetsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Affected Assets
      tags:
      - Faults
      x-accepts: application/json
  /v1/customers/{customerId}/insights/faults/{faultId}/affectedAssets/{assetName}/faultHistory:
    get:
      deprecated: false
      description: "Returns information about the occurrences of a fault on an asset\
        \ based on the fault signatureId, asset name, and customerId provided"
      operationId: getFaultHistory
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier used in CX Cloud to identify the fault
        explode: false
        in: path
        name: faultId
        required: true
        schema:
          type: integer
        style: simple
      - description: Unique asset name
        explode: false
        in: path
        name: assetName
        required: true
        schema:
          type: string
        style: simple
      - description: "The number of days to retrieve fault data for. This value can\
          \ be 1, 7, 15, 30. The default is 1."
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 1
          format: int32
          maximum: 30
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsFaultHistoryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fetch Assets Fault History
      tags:
      - Faults
      x-accepts: application/json
  /v1/customers/{customerId}/insights/faults/{faultId}/summary:
    get:
      deprecated: false
      description: Returns detailed information for a fault based on the fault signatureId
        and customerId provided
      operationId: getFaultSummary
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier used in CX Cloud to identify the fault
        explode: false
        in: path
        name: faultId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaultsSummaryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Fault summary
      tags:
      - Faults
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups:
    get:
      deprecated: false
      description: Returns Software Group information for the customerId provided
      operationId: getSoftwareGroups
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareGroupResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: fetch Software Group Information
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups/assets:
    get:
      description: Returns information about assets in the Software Group based on
        the customerId and softwareGroupId provided
      operationId: getSoftwareGroupAssets
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier used in CX Cloud to identify the Software Group
        explode: true
        in: query
        name: softwareGroupId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List Asset information in the Software Group
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups/suggestions:
    get:
      deprecated: false
      description: "Returns Software Group suggestions, including detailed information\
        \ about Cisco software release recommendations and current Cisco software\
        \ releases running on assets in the Software Group"
      operationId: getSoftwareGroupSuggestions
      parameters:
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: suggestionId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareGroupSuggestions'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List Software Group Suggestions
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups/suggestions/bugs:
    get:
      deprecated: false
      description: "Returns information on bugs, including ID, description, and affected\
        \ software releases."
      operationId: getSoftwareGroupSuggestionsBugs
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: machineSuggestionId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareGroupBugsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List info on Software Group - Suggestions Bugs
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups/suggestions/fieldNotices:
    get:
      deprecated: false
      description: "Returns field notice information, including ID number, title,\
        \ and publish date."
      operationId: getSoftwareGroupFieldNotices
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: machineSuggestionId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareGroupFieldNoticesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List info on Software Group - Suggestions Field Notices
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/insights/software/softwareGroups/suggestions/securityAdvisories:
    get:
      deprecated: false
      description: "Returns software advisory information, including ID number, version\
        \ number, and severity level."
      operationId: getSoftwareGroupSecurityAdvisories
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: machineSuggestionId
        required: true
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareGroupFieldNoticesResponse'
          description: OK
      summary: List info on Software Group - Suggestions Security Advisories
      tags:
      - Insights
      x-accepts: application/json
  /v1/customers/{customerId}/reports:
    post:
      description: Report generation is asynchronous. The response `Location` header
        will contain the report status URL.
      operationId: postReports
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Report'
        description: Report request details.
      responses:
        "202":
          description: Accepted
          headers:
            Location:
              description: Report status URL.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Request customer data report
      tags:
      - Customer Data
      x-content-type: application/json
      x-accepts: application/json
  /v1/customers/{customerId}/reports/{reportId}:
    get:
      description: "If report is in-progress (`200 OK`), body will include status\
        \ description and suggested poll/retry interval.  If ready (`303 See Other`),\
        \ `Location` header will contain the final report download URL."
      operationId: getReportStatus
      parameters:
      - description: Unique identifier of the customer
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      - description: reportId returned by a report generation request.
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportStatus'
          description: OK
        "303":
          description: See Other
          headers:
            Location:
              description: Final report download URL.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Get report status and location
      tags:
      - Customer Data
      x-accepts: application/json
  /v1/partnerOffers:
    get:
      operationId: getPartnerOffers
      parameters:
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offerStatus
        required: false
        schema:
          enum:
          - Idle
          - Published
          - Unpublished
          type: string
        style: form
      - explode: true
        in: query
        name: offerType
        required: false
        schema:
          enum:
          - Accelerator
          - Ask the Experts
          type: string
        style: form
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAssetResponse'
          description: OK
          headers:
            Link:
              description: URLs for previous (`rel="prev"`) and/or next (`rel="next"`)
                page of items
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List partner offers
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/partnerOffersSessions:
    get:
      operationId: getPartnerOffersSessions
      parameters:
      - description: The maximum number of items to return. The default value is 10.
        explode: true
        in: query
        name: max
        required: false
        schema:
          default: 10
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. The default value is 1.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offerId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offerStatus
        required: false
        schema:
          enum:
          - Idle
          - Published
          - Unpublished
          type: string
        style: form
      - explode: true
        in: query
        name: offerType
        required: false
        schema:
          enum:
          - Accelerator
          - Ask the Experts
          type: string
        style: form
      - explode: true
        in: query
        name: successTrackId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerOfferWithSessions'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: Get partner offers session details
      tags:
      - Partner Data
      x-accepts: application/json
  /v1/successTracks:
    get:
      operationId: getSuccessTracks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessTracksResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway timeout
      summary: List success tracks
      tags:
      - CX Meta Data
      x-accepts: application/json
  /v1/uniqueContractsWithCustomers:
    get:
      operationId: getUniqueContractsWithCustomers
      parameters:
      - explode: true
        in: query
        name: max
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: customerId
        explode: true
        in: query
        name: customerId
        required: false
        schema:
          type: string
        style: form
      - description: customerGUName
        explode: true
        in: query
        name: customerGUName
        required: false
        schema:
          type: string
        style: form
      - description: successTrackId
        explode: true
        in: query
        name: successTrackId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniqueContractsResponse'
          description: Successfully Fetched Contract Details
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Input
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error during fetch
      summary: List of Unique Contracts With Customers
      tags:
      - Partner Data
      x-accepts: application/json
components:
  parameters:
    assetUniqueId:
      description: assetId encoded as a Base64 string. This parameter is available
        as a response parameter of the /crashRisk/assets API
      explode: false
      in: path
      name: assetUniqueId
      required: true
      schema:
        type: string
      style: simple
    componentType:
      description: "Deprecated, use `contractLineItemType`."
      explode: true
      in: query
      name: componentType
      required: false
      schema:
        type: string
      style: form
    contractLineItemType:
      explode: true
      in: query
      name: contractLineItemType
      required: false
      schema:
        enum:
        - PARENT
        - CHILD
        - STANDALONE
        type: string
      style: form
    contractNumber:
      explode: true
      in: query
      name: contractNumber
      required: true
      schema:
        format: int32
        type: integer
      style: form
    customerGUName:
      description: customerGUName
      explode: true
      in: query
      name: customerGUName
      required: false
      schema:
        type: string
      style: form
    customerId:
      explode: true
      in: query
      name: customerId
      required: false
      schema:
        type: string
      style: form
    customerIdPath:
      description: Unique identifier of the customer
      explode: false
      in: path
      name: customerId
      required: true
      schema:
        type: string
      style: simple
    days:
      description: "The number of days to retrieve fault data for. This value can\
        \ be 1, 7, 15, 30. The default is 1."
      explode: true
      in: query
      name: days
      required: false
      schema:
        default: 1
        format: int32
        maximum: 30
        minimum: 1
        type: integer
      style: form
    faultId:
      description: Unique identifier used in CX Cloud to identify the fault
      explode: false
      in: path
      name: faultId
      required: true
      schema:
        type: integer
      style: simple
    machineSuggestionId:
      explode: true
      in: query
      name: machineSuggestionId
      required: true
      schema:
        type: string
      style: form
    max:
      description: The maximum number of items to return. The default value is 10.
      explode: true
      in: query
      name: max
      required: false
      schema:
        default: 10
        format: int32
        minimum: 1
        type: integer
      style: form
    offerId:
      explode: true
      in: query
      name: offerId
      required: false
      schema:
        type: string
      style: form
    offerStatus:
      explode: true
      in: query
      name: offerStatus
      required: false
      schema:
        enum:
        - Idle
        - Published
        - Unpublished
        type: string
      style: form
    offerType:
      explode: true
      in: query
      name: offerType
      required: false
      schema:
        enum:
        - Accelerator
        - Ask the Experts
        type: string
      style: form
    offset:
      description: The number of items to skip before starting to collect the result
        set. The default value is 1.
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 1
        format: int32
        minimum: 1
        type: integer
      style: form
    policyCategory:
      explode: true
      in: query
      name: policyCategory
      required: true
      schema:
        type: string
      style: form
    policyGroupId:
      explode: true
      in: query
      name: policyGroupId
      required: true
      schema:
        type: string
      style: form
    policyId:
      explode: true
      in: query
      name: policyId
      required: true
      schema:
        type: string
      style: form
    ruleId:
      explode: true
      in: query
      name: ruleId
      required: true
      schema:
        type: string
      style: form
    severity:
      explode: true
      in: query
      name: severity
      required: true
      schema:
        type: string
      style: form
    successTrackId:
      explode: true
      in: query
      name: successTrackId
      required: true
      schema:
        type: string
      style: form
  responses:
    "400":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request
    "401":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
    "403":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Forbidden
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found
    "500":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal server error
    "503":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Service Unavailable
    "504":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Gateway timeout
  schemas:
    AccSessionAttendees:
      example:
        attendeeName: attendeeName
        attendeeEmail: attendeeEmail
      properties:
        attendeeEmail:
          type: string
        attendeeName:
          type: string
      type: object
    AffectedAssets:
      example:
        occurrences: 6
        caseAction: caseAction
        serialNumber: serialNumber
        productId: productId
        mgmtSystemType: mgmtSystemType
        mgmtSystemAddr: mgmtSystemAddr
        caseNumber: caseNumber
        firstOccurrence: 2000-01-23T04:56:07.000+00:00
        lastOccurrence: 2000-01-23T04:56:07.000+00:00
        faultId: 1
        assetName: assetName
        mgmtSystemHostname: mgmtSystemHostname
      properties:
        assetName:
          description: Unique asset name
          type: string
        productId:
          description: Cisco product number of the asset
          type: string
        caseNumber:
          description: "If case automation is enabled, this is the Cisco support case\
            \ number created"
          type: string
        caseAction:
          description: "If case automation is enabled, this is the status of the Cisco\
            \ support case request submitted by CX Cloud for the asset"
          type: string
        occurrences:
          description: Number of times the fault occurred on the asset
          type: integer
        firstOccurrence:
[...]
